html, body, #root, .wrapper {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  color:#fff;
  font-size:18px;
  background-color: #162129;
  background-image: -webkit-linear-gradient(120deg, #162129 50%, #0f171c 25%);
  min-height: 500px;
  background-image: url(assets/img/bkg.jpg);
  background-position: top center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}
a {
  color: #5396fd;
}
a:hover,
a:focus {
  color: #6255d8;
  text-decoration: none;
}
.wrapper::after {
  content: "";
  background: url('assets/img/particles.png') center 80% no-repeat;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.nav {
  padding: 20px;
  margin: 0;
  list-style: none;
  text-align: left;
}
.nav li {
  display: inline-block;
}
.nav a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
}
.nav a:hover, .nav a:focus {
  color: #ccc;
}

.btn {
  padding: .5rem 1.5rem;
  border-radius: 30px;
}
.btn-lg {
  padding: .5rem 1.5rem;
}
.btn-outline-primary {
  color: #5396fd;
  background-color: transparent;
  background-image: none;
  border-color: #5396fd;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: #fff;
  background-color: #5396fd;
  border-color: #5396fd;
}

/* Forms */

label {
  margin-bottom: 5px;
}

.field {
  margin-bottom: 40px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0 0 1px;
  background: none;
  border: none;
  border-bottom: 2px solid #5396fd;
  outline: none;
  color: #fff;
}
textarea.form-control {
  padding: 5px 10px;
  background: rgba(0,0,0,0.2);
  border: 2px solid #5396fd;
}

/* Semantic UI */
.ui.selection.dropdown {
  background: none;
  color:#fff;
  border-radius: 0px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  margin: 0 50px;
  padding: 2px 0px;
  min-height:auto;
  border:none;
  border-bottom: 2px solid #5396fd;
}
.ui.selection.dropdown .menu>.item, .ui.selection.active.dropdown, .ui.selection.active.dropdown .menu {
  border: none !important;
  background: #0f171c !important;
}
.ui.selection.dropdown:hover {
  border-bottom: 2px solid #5396fd;
}
.ui.selection.dropdown .menu>.item {
  background: none;
  color:#fff;
}
.ui.selection.dropdown .menu>.item:hover {
  background-color:#5396fd !important;
}
.ui.selection.visible.dropdown>.text:not(.default) {
  color:#fff;
}
.ui.selection.dropdown>.dropdown.icon {
  top: 0px;
}
.ui.dropdown>.text {
    padding: 0 0 0 10px;
}

@media (min-width: 768px) {
  .field.is-horizontal {
    display: flex;
  }
  .field-label {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 2rem;
    text-align: right;
  }
  .field-body {
    display: flex;
    flex-basis: 0;
    flex-grow: 6;
    flex-shrink: 1;
  }
}

.form-field {
  padding: 10px 0px;
}
