html, body, #root, .wrapper {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  color:#fff;
  font-size:18px;
  background-color: #162129;
  background-image: -webkit-linear-gradient(120deg, #162129 50%, #0f171c 25%);
  min-height: 500px;
  background-image: url(assets/img/bkg.jpg);
  background-position: top center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}
a {
  color: #5396fd;
}
a:hover,
a:focus {
  color: #6255d8;
  text-decoration: none;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid rgba(255,255,255,0.4)
}

.wrapper::after {
  content: "";
  background: url('assets/img/particles.png') center 80% no-repeat;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


.nav {
  clear: both;
  padding: 5px 15px;
  margin: 0 0 20px;
  list-style: none;
  text-align: center;
  font-size: 15px;
  background: rgba(0,0,0,0.3);
}
.nav li {
  display: inline-block;
}
.nav a {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
}
.nav a:hover, .nav a:focus {
  color: #ccc;
}

button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1.5rem;
  border-radius: 30px;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
  color: #5396fd;
  background-color: transparent;
  background-image: none;
  border-color: #5396fd;
}
button:hover,
button:focus {
  color: #fff;
  background-color: #5396fd;
  border-color: #5396fd;
  cursor: pointer;
}

.btn {
  padding: .5rem 1.5rem;
  border-radius: 30px;
}
.btn-lg {
  padding: .5rem 1.5rem;
}
.btn-outline-primary {
  color: #5396fd;
  background-color: transparent;
  background-image: none;
  border-color: #5396fd;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: #fff;
  background-color: #5396fd;
  border-color: #5396fd;
}

.btn-outline-secondary {
  color: #7973b3;
  background-color: transparent;
  background-image: none;
  border-color: #7973b3;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  color: #fff;
  background-color: #7973b3;
  border-color: #7973b3;
}

/* Forms */

input[type="text"], select {
  display: block;
  width: 100%;
  padding: 0 0 1px;
  background: none;
  border: none;
  border-bottom: 2px solid #5396fd;
  outline: none;
  color: #fff;
}

label {
  margin-bottom: 5px;
}

.field {
  margin-bottom: 40px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0 0 1px;
  background: none;
  border: none;
  border-bottom: 2px solid #5396fd;
  outline: none;
  color: #fff;
}
textarea.form-control {
  padding: 5px 10px;
  background: rgba(0,0,0,0.2);
  border: 2px solid #5396fd;
}

.help {
  color: #bbb;
  font-size: 13px;
  margin-top: .3rem;
  padding: 0 5px;
}

.form-field {
  margin-bottom: 40px;
}

/* Semantic UI */
.ui.selection.dropdown {
  background: none;
  color:#fff;
  border-radius: 0px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 3px 0px;
  min-height:auto;
  border:none;
  border-bottom: 2px solid #5396fd;
}
.ui.selection.dropdown .menu>.item, .ui.selection.active.dropdown, .ui.selection.active.dropdown .menu {
  border: none !important;
  background: #0f171c !important;
}
.ui.selection.dropdown:hover {
  border-bottom: 2px solid #5396fd;
}
.ui.selection.dropdown .menu>.item {
  background: none;
  color:#fff;
}
.ui.selection.dropdown .menu>.item:hover {
  background-color:#5396fd !important;
}
.ui.selection.visible.dropdown>.text:not(.default) {
  color:#fff;
}
.ui.selection.dropdown>.dropdown.icon {
  top: 0px;
}
.ui.dropdown>.text {
    padding: 0 0 0 10px;
}

@media (min-width: 768px) {

  .nav {
    clear: none;
    padding: 20px 20px;
    margin-bottom: 40px;
    text-align: left;
  }
  .nav li {
    display: inline-block;
  }
  .nav a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
  }

  .field.is-horizontal {
    display: flex;
  }
  .field-label {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 2rem;
    text-align: right;
  }
  .field-body {
    display: flex;
    flex-basis: 0;
    flex-grow: 6;
    flex-shrink: 1;
    flex-flow: column;
  }
}