
body {
  font-family: 'Roboto', sans-serif;
  color:#333333;
  font-size:28px;
  font-weight:bold;
  background-color: #162129;
  background-image: -webkit-linear-gradient(120deg, #162129 50%, #0f171c 25%);
  min-height: 500px;
}
a {
  color:#444444;
  text-decoration: none;
}
a:visited {
  color:#555555;
  text-decoration: none;
}

button {
  border-radius: 25px;
  background-color: #5396FD;
  opacity: 75%;

}
