
body {
  font-family: 'Roboto', sans-serif;
  color:#fff;
  font-size:18px;
  font-weight:bold;
  background-color: #162129;
  background-image: -webkit-linear-gradient(120deg, #162129 50%, #0f171c 25%);
  min-height: 500px;
}
a {
  color:#444444;
  text-decoration: none;
}
a:visited {
  color:#555555;
  text-decoration: none;
}
button {
  border-radius: 25px;
  background-color: #5396FD;
  opacity: 75%;
}
input[type="text"] {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #5396fd;
    color:#fff;
}
label {
  font-size: 18px;
}
.container {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.form-field {
  padding: 20px 0px;
}
